* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Money Transfer */

.container-1 {

    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}

.box-1  {

    margin-left: 5rem;
}

.box-3 {

    margin-right: 5rem;
}
 .mon_trans {

    border: 1.2px solid rgb(160, 151, 151);
    border-radius: 5px;
}   

